.app {
  text-align: center;
  color: white;
  animation: fadein 2s;
}

.mainTitle {
  color: white;
  margin-right: 45%;
}

.navMenu {
  margin-right: 35%
}

.title {
  color: white;
  margin-right: 39%
}

.form {
  background-color: #D3D3D3;
  border-radius: 25px;
  margin: 20px;
  width: 25%;
  right: 27%;
  border: 3px solid #004857;
  padding: 10px;
  margin: auto;
}

.environment {
  background-color: #D3D3D3;
  border-radius: 25px;
  width: 90%;
  margin: 2%;
  border: 3px solid #004857;
  padding: 10px;
}

.temperatureContainer {
  background-color: #D3D3D3;
  border-radius: 25px;
  width: 45%;
  margin: 2%;
  border: 3px solid #004857;
  padding: 10px;
}

.weatherContainer {
  position: absolute;
  right: 4%;
  top: 85%;
  background-color: #D3D3D3;
  border-radius: 25px;
  width: 40%;
  height: 80%;
  margin: 2%;
  border: 3px solid #004857;
  padding: 10px;
}

.weatherContent {
  position: absolute;
}

.icon {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 30%;
}

.homeTitle {
  position: relative;
}

.usersContainer {
  position: absolute;
  left: 60%;
  top: 26.7%;
}

.boardTabs {
  margin-left: 5%;
}

.controller {
  text-align: center;
  margin-top: 5%;
}

.controllerText {
  font-size: 20;
}

.loginLink {
  margin-top: 10%;
  text-align: center;
}

.loginLink a {
  color: white;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 7px 30px;
  border-radius: 3px;
}

.loginLink a:hover {
  color: #004E59;
  border-color: #004E59;
  background-color: white;
  transition: background-color 0.5s ease;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
